<h3>Automobiles</h3>

<button>Download Dataset</button>

<div id="filters">
  <form>
    <label>Filter automobiles:</label>
    <input 
      name="searchTerm"
      [(ngModel)]="searchTerm"
      placeholder="Search automobiles"
    />

    <label >Sort By: </label>
    <select [(ngModel)]="sortField" name="sort-dropdown" id="sort-dropdown">
      <option value="name">Name</option>
      <option value="mpg">MPG</option>
      <option value="cylinders">Cylinders</option>
      <option value="displacement">Displacement</option>
      <option value="horsepower">Horsepower</option>
      <option value="weight">Weight</option>
      <option value="acceleration">Acceleration</option>
      <option value="model_year">Model Year</option>
      <option value="origin">Origin</option>
    </select>

    <label>Order: </label>
    <select [(ngModel)]="sortOrder" name="sort-order" id="sort-order">
      <option value="ascending">Ascending</option>
      <option value="descending">Descending</option>
    </select>

  </form>
</div>

<ul class="data-list">
  <li class="data__item header">
    <div class="grid">
      <div>Name</div>
      <div>MPG</div>
      <div>Cylinders</div>
      <div>Displacement</div>
      <div>Horsepower</div>
      <div>Weight</div>
      <div>Acceleration</div>
      <div>Model Year</div>
      <div>Origin</div>
    </div>
  </li>

    @for (automobile of (
      automobileItems()
      | filterAutomobiles: searchTerm()
      | sortAutomobiles: sortField():sortOrder()
    ); track $index) {
      <app-data-item [automobile]="automobile" />
    }
</ul>